<div class="blog" *ngIf="blog$ | async as blog; else loading">

  <div class="blog__header">
    <div class="row">
      <mat-icon class="icon">account_circle</mat-icon>

      <div class="blog__info">
        <div class="blog__author">{{ blog.authorName }}</div>
        <div class="blog__created">
          Created at {{ createdAt(blog.createdAt) }}
        </div>
      </div>
    </div>
    <h2 class="blog__title">{{ blog.title }}</h2>
    <span>Rubric: {{ blog.rubric }}</span>
  </div>

  <div class="blog__tags">
    <span *ngFor="let tag of blog.tags" class="tag">#{{ tag.name }}</span>
  </div>

  <div #content class="blog__content">{{ blog.content }}</div>

</div>

<ng-template #loading>
  <app-loading/>
</ng-template>
