<div class="app-header">
  <h2 class="app-name">Blogs Admin</h2>

  <div class="user-info" *ngIf="user$ | async as user">Login as: {{ user.name }}</div>

  <div class="row">
    <button
      (click)="onLogoutClick()"
      mat-raised-button
      color="primary">
      Logout
    </button>
    
    <a
      routerLink="/app"
      mat-raised-button
      color="primary">
      Field App
    </a>
  </div>

</div>

<a
  routerLink="/admin/blogs"
  mat-stroked-button>
  Blogs
</a>

<a
  routerLink="/admin/rubrics"
  mat-stroked-button>
  Rubrics
</a>

<a
  routerLink="/admin/tags"
  mat-stroked-button>
  Tags
</a>
