<ng-container *ngIf="title$ | async">

  <h1 class="page-title">{{ title$ | async }}</h1>

  <form [formGroup]="form" (submit)="onSubmit()">

    <mat-form-field class="full-width">
      <mat-label>Rubric</mat-label>
      <input matInput type="text" formControlName="name">
      <mat-error *ngIf="hasError('name')">
        {{ getError('name') }}
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit">
      Submit
    </button>

  </form>


</ng-container>
