<div class="page-header">
  <h1 class="page-title">Blogs</h1>
  <a
    mat-flat-button
    color="primary"
    routerLink="./new">
    + New
  </a>
</div>


<ng-container *ngIf="blogs$ | async as blogs; else loading">

  <div
    class="blog-container"
    *ngIf="blogs.length > 0; else noBlogs">

    <div
      class="blog"
      *ngFor="let blog of blogs; trackBy: trackByBlog">

      <div class="blog__header">
        <h3 class="blog__title">
          <span *ngIf="blog.rubric">{{blog.rubric}}:</span>
          {{ blog.title }}
        </h3>

        <div class="blog__controls">
          <button
            type="button"
            mat-mini-fab
            color="warn"
            (click)="deleteBlog(blog)">
            <mat-icon>delete</mat-icon>
          </button>

          <button
            type="button"
            mat-mini-fab
            color="primary"
            (click)="navigateToEdit(blog.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>

      <div class="blog__info">
        Created by {{ blog.authorName }} at {{ formatDateTime(blog.createdAt) }}
      </div>

      <div class="blog__content">{{ blog.content }}</div>

      <div class="blog__tags">
        <span
          class="blog__tag"
          *ngFor="let tag of blog.tags; trackBy: trackByTag">
          #{{tag.name}}
        </span>
      </div>

    </div>

  </div>

</ng-container>

<ng-template #loading>
  <app-loading />
</ng-template>

<ng-template #noBlogs>
  <div>There's no blogs to display</div>
</ng-template>
