/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --font-size-xs: 0.9rem;
  --font-size-s: 1rem;
  --font-size-m: 1.5rem;
  --font-size-l: 2rem;
  --font-size-xl: 3rem;

  --container-shadow: 0 0 10px #0006;

  --bg-primary: rgb(255, 255, 255);
}

.page-title {
  font-size: var(--font-size-xl);
  margin-left: 20px;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.full-width {
  width: 100%;
}

.mat-menu-link {
  background-color: transparent;
  color: #fff;
}

.row {
  display: flex;
  gap: 10px;
  align-items: center;
}
